.container{
  display: flex;
  align-items: center;
  background-color: rgb(244, 72, 72);
  width: 90%;
  justify-content: space-between;
  padding: 1rem 5%;
  height: 20px;
}


.landing{
  display: flex;
  cursor: pointer;
  margin: 0 15px;
  width: 125px;
}

.create{
  
  
  font-size: 1.5rem;
  transition: all 1s;
  color: white;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  
}

.create:hover{
  color: rgb(75, 73, 73);
}

